<h1>Listing video_games</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Platform</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @video_games.each do |video_game| %>
  <tr>
    <td><%= video_game.title %></td>
    <td><%= video_game.platform %></td>
    <td><%= link_to 'Show', video_game %></td>
    <td><%= link_to 'Edit', edit_video_game_path(video_game) %></td>
    <td><%= link_to 'Destroy', video_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video game', new_video_game_path %>
