<%= form_for(@behavior_rank) do |f| %>
  <% if @behavior_rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@behavior_rank.errors.count, "error") %> prohibited this behavior_rank from being saved:</h2>

      <ul>
      <% @behavior_rank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rank %><br />
    <%= f.number_field :rank %>
  </div>
  <div class="field">
    <%= f.label :colorName %><br />
    <%= f.text_field :colorName %>
  </div>
  <div class="field">
    <%= f.label :colorCode %><br />
    <%= f.number_field :colorCode %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
