<h1>Listing classgroups</h1>

<table>
  <tr>
    <th>Grade</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @classgroups.each do |classgroup| %>
  <tr>
    <td><%= classgroup.grade %></td>
    <td><%= classgroup.year %></td>
    <td><%= link_to 'Show', classgroup %></td>
    <td><%= link_to 'Edit', edit_classgroup_path(classgroup) %></td>
    <td><%= link_to 'Destroy', classgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Classgroup', new_classgroup_path %>
